<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Scrapper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
</head>
<body>
    <main class="container">
        <h1>Welcome to {{year}} {{version}} job search tool.</h1>
        <h2>How to use</h2>
        <h3>
            1. Enter your keyword in the search engine.<br>
            2. Select domain you want to make search.<br>
            3. Click a search button to select search domain and initiate search. <br>
            4. After few seconds, .csv result containing all the jobs will be available.<br>
            5. Download .csv and nail your job application!<br>
        </h3>
        <form action="/search">
            <input type="text" name="job_keyword" placeholder="What are you looking for?" />
            <input type="submit" name="platform" value="search by position" />
            <input type="submit" name="platform" value="search by skill" />
        </form>
        <br>
    </main>
</body>
</html>